.chat-container {
    display: flex;
    flex-direction: column;
    background: #aae8f5;
    padding: 10px;
    border-radius: 20px;
    max-height: 800px;
    max-width: 600px;
}

.chat-messages-container {
    display: block;
    height: auto;
    margin-bottom: 5px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 15px;
    max-height: 60%;
    overflow: auto;
}

.refresh-button {
    margin-top: 5px;
    margin-bottom: 5px;
    border: hidden;
    border-radius: 15px;
}

.chat-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.message-input {
    flex: 1;
    padding: 10px;
    margin-right: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
    background: #f9f3ff;
}
.send-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 200ms;
}
.send-button:hover {
    scale: 102%;
    opacity: 90%;
    transition: 200ms;
}

.navbar {
    display: flex;
    text-decoration: none;
}

.order {
    order: 0;
}

.user-list {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    background: #96e7c1;
    border-radius: 15px;
    padding: 10px;
    z-index: 9999;
}

.user-list.show {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.user-list-container {
    position: relative;
    display: inline-block;
}

.no-decor {
    text-decoration: none;
}