@page "/chats/"

<PageTitle>Chats</PageTitle>

<div class="container">
    <div class="chat-user">
        <ChatUserComponent User="@_currentUser" /> <br/>
    </div>
    
    <a href="chats/create" class="send-button">Создать новый чат</a><br/>
    <div class="chat-container">
        <ChatListComponent Chats="@_chats" />
    </div>
    
</div>

@code {
    private ChatUserModel? _currentUser;
    private IReadOnlyCollection<ChatModel> _chats = Array.Empty<ChatModel>();
    
    [Parameter]
    public int ChatId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await Storage.GetCurrentUserAsync();
        _chats = await Storage.GetChatsAsync();
        Storage.CurrentUserUpdated += c =>
        {
            _currentUser = c;
            StateHasChanged();
        };
    }
}