@page "/Chats/{ChatId:int}"
@using WASMChat.Shared.Models.Chats
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WASMChat.Shared.Results.Chats
@inject HttpClient Http

<a href="/Chats/">⬅️ Назад</a>
<button @onclick="@PullChat">🔃</button><br/>
<ChatComponent Chat="@_chat"/>

@code {
    [Parameter]
    public int ChatId { get; set; }

    private ChatModel? _chat;

    protected override Task OnInitializedAsync() => PullChat();

    private async Task PullChat()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<GetChatResult>($"api/Chats/{ChatId}");
            _chat = result!.Chat;
        }
        catch (AccessTokenNotAvailableException e)
        {
            e.Redirect();
        }
    }
}