@layout CommonComponents.Shared.MainLayout
@inherits LayoutComponentBase

@if (_currentUser is null)
{
    <LoadingComponent/>
}
else
{
    <ChatUserComponent User="@_currentUser"/> <a href="chats/user">⚙️</a><br/>
}

@Body

@code {

    private ChatUserModel? _currentUser;
    protected override async Task OnInitializedAsync()
    {
        _currentUser = await Storage.GetCurrentUserAsync();
        Storage.CurrentUserUpdated += _ => StateHasChanged();
    }
}