.author {
    background: #0c4128;
}

.attachment {
    width: 128px;
}

.message-author {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #d5b3f5;
    color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    max-height: fit-content;
    margin: 1rem 0 1rem auto;
    word-wrap: break-word;
}

.message-other {
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #bfd3ea;
    color: #000;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    margin: 1rem 1rem 1rem 0;
    word-wrap: break-word;
}

.button-delete {
    border-radius: 15px;
    border: none;
    margin-left: auto;
}

.name-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}