@using WASMChat.Shared.Models.Chats
@using System.Diagnostics.CodeAnalysis

<p>
    @Message.Author.UserName<b>#@Message.Author.Id</b> at @Message.SentTime.ToLocalTime()<br/>
    @Message.Text
</p>

@code {
    [Parameter, NotNull]
    public ChatMessageModel? Message { get; set; }
    
}