@using System.Diagnostics.CodeAnalysis

<style>
    .hui {
        display: block;
        height: auto;
        margin-bottom: 5px;
        padding: 15px;
        background-color: #f2f2f2;
        border-radius: 15px;
        max-height: 60%;
        overflow: auto;
    }
</style>

<div class="hui">
    <a href="chats/@Chat.Id/">
        <h5>@Chat.Name <b>#@Chat.Id</b></h5>
    </a><br/>
    @if (_lastMessage is not null)
    {
        <ChatMessageComponent Message="@_lastMessage" IsAuthor="@false"/>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public ChatModel Chat { get; set; } = null!;

    private ChatMessageModel? _lastMessage;

    protected override void OnInitialized()
    {
        _lastMessage = Chat.Messages.MaxBy(m => m.SentTime);
    }

}