@using System.Diagnostics.CodeAnalysis

<a href="chats/@Chat.Id/" class="list-chat">
    <div class="name-chat">
        <img alt="Avatar" src="api/Files?Id=@Chat.AvatarId" class="avatar"/>
        <h5 class="center">@Chat.Name <b>#@Chat.Id</b></h5>
    </div>
    @if (_lastMessage is not null)
    {
        <ChatMessageComponent Message="@_lastMessage" IsAuthor="@false"/>
    }
</a>

@code {

    [Parameter, EditorRequired]
    public ChatModel Chat { get; set; } = null!;

    private ChatMessageModel? _lastMessage;

    protected override void OnInitialized()
    {
        _lastMessage = Chat.Messages.MaxBy(m => m.SentTime);
    }

}