@using WASMChat.Shared.Models.Chats
@using System.Diagnostics.CodeAnalysis

<a href="chats/@Chat.Id/">
    <h5>@Chat.Name <b>#@Chat.Id</b></h5>    
</a>

@code {
    [Parameter, NotNull]
    public ChatModel? Chat { get; set; }
}